@media screen and (max-width: 2000px) {

/*Seccion Recetas*/
#seccion1, #seccion2, #seccion3, #seccion4, #seccion5, #seccion6  {
  margin: 20px;
  padding: 80px;
  background-color: rgba(179, 120, 11, 0.795);
  border-radius: 10px;
}

/*Imagenes Recetas*/
#cafe-espreso, #cafe-con-leche, #cafe-moka, #cafe-irlandes, #cafe-doble, #cafe-capuchino {
  float: right;
  max-width: 45%;
  margin: 0 0 0 15px;
  border-radius: 10px;
}
}

@media screen and (max-width: 768px) {
/*Seccion Recetas*/
#seccion1, #seccion2, #seccion3, #seccion4, #seccion5, #seccion6  {
  margin: 10px;
  padding: 50px;
  background-color: rgba(179, 120, 11, 0.795);
  border-radius: 10px;
}
}

@media screen and (max-width: 576px) {
/*Seccion Recetas*/
#seccion1, #seccion2, #seccion3, #seccion4, #seccion5, #seccion6  {
  margin: 1px;
  padding: 5px;
  background-color: rgba(179, 120, 11, 0.795);
  border-radius: 10px;
}
}