/* Seccion Recetas */
#seccion1 {
  margin: 20px;
  padding: 80px;
  background-color: rgba(179, 120, 11, 0.795);
  border-radius: 10px;
}

#seccion2 {
  margin: 20px;
  padding: 80px;
  background-color: rgba(143, 109, 45, 0.795);
  border-radius: 10px;
}

#seccion3 {
  margin: 20px;
  padding: 80px;
  background-color: rgba(138, 91, 5, 0.795);
  border-radius: 10px;
}

#seccion4 {
  margin: 20px;
  padding: 80px;
  background-color: rgba(100, 73, 23, 0.795);
  border-radius: 10px;
}

#seccion5 {
  margin: 20px;
  padding: 80px;
  background-color: rgba(94, 73, 34, 0.795);
  border-radius: 10px;
}

#seccion6 {
  margin: 20px;
  padding: 80px;
  background-color: rgba(88, 59, 4, 0.795);
  border-radius: 10px;
}

/* Imagenes Recetas */
#cafe-espreso {
  height: auto;
  width: 45%;
  float: right;
  min-width: 45%;
  margin: 0 0 0 15px;
  border-radius: 10px;
}
#cafe-con-leche {
  height: auto;
  width: 45%;
  float: right;
  min-width: 45%;
  margin: 0 0 0 15px;
  border-radius: 10px;
}

#cafe-moka {
  height: auto;
  width: 45%;
  float: right;
  min-width: 45%;
  margin: 0 0 0 15px;
  border-radius: 10px;
}

#cafe-irlandes {
  height: auto;
  width: 45%;
  float: right;
  min-width: 45%;
  margin: 0 0 0 15px;
  border-radius: 10px;
}

#cafe-doble {
  height: auto;
  width: 45%;
  float: right;
  min-width: 45%;
  margin: 0 0 0 15px;
  border-radius: 10px;
}

#cafe-capuchino {
  height: auto;
  width: 45%;
  float: right;
  min-width: 45%;
  margin: 0 0 0 15px;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  #seccion1, #seccion2, #seccion3, #seccion4, #seccion5, #seccion6 {
    margin: 0px;
    padding: 20px;
  }
}